body {
  margin: 0;
}

  /* navigation CSS */
    header {
      background-color: black;
      padding: 15px;
      border: 5px solid black;
    }

    header ul {
      float: right;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 33px;
      }

      /* unvisited link */
    a:link {
      color: white;
      font-family: Red Hat Display;
      text-decoration: none;
    }

    /* visited link */
    a:visited {
      color: white;
      font-family: Red Hat Display;
      text-decoration: none;
    }

    /* mouse over link */
    a:hover {
      color: white;
      font-family: Red Hat Display;
      text-decoration: underline;
    }

    /* selected link */
    a:active {
      color: white;
      font-family: Red Hat Display;
      text-decoration: none;
    }
      
    header li {
      display: inline-block;
      padding: 0px 5px;
    }
    header p {
      display: inline-block;
    }

/* Introduction */
.Welcome {
  max-width: 500px;
  margin: 15px 20px;
  padding: 20px;
  background-color: #FFFFFF;
  text-align: left;

}

.content h1{
  color:#5A697E;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 66px;
}

/* My UX Skills Section */
.heading {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 66px;
  text-align: center;
  color: white;
  width: 1440px;
  height: 100px;
  background: #AEB8C2;
  display: flex;
  justify-content: center;
  padding: 1%;

}
  .flexContainer {
    display: flex;
    padding: 60px;
    width: 1440px;
    height: 400px;
    left: 0px;
    top: 710px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .flexContainer div {
    padding: 20px;
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 5px 6px #5A697E;
  }

  .flexContainer h1 {
    font-family: Red Hat Display;
    font-style: normal;
    font-size: 34px;
    line-height: 45px;
    color: black;
    font-display: center;
    padding: auto;
  }
  .flexContainer P{
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #999999; 
  }

/* My Work Section */


button {
  padding: 20px;
  margin: 20px 50px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: 900;
  border-radius: 4px;
  font-family: red hat display;
  cursor: pointer;

}
.btn {
  padding: 20px;
  margin: 20px 50px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: 900;
  border-radius: 8px;
  font-family: red hat display;
  border-color: black;
  cursor: pointer;
}
.active, .btn:hover {
  background-color: black;
  color: white;
}

.btn:visited {
  color: black;
  background-color: white;
  font-family: Red Hat Display;
  text-decoration: none;
}

/* Footer CSS */
  footer {
    background-color: white;
    padding: 15px;
    background-color: black;
    padding: 50px;
    border: 5px solid black;
  }

  footer ul {
    float: left;
    color: black;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 33px;
    }

  footer li {
    display: inline-block;
    padding: 0px 5px;

  
  } 

  .heroImg {
      padding-top: 0;
      font-family: Red Hat Display;
      font-style: normal;
      text-align: center;
      color:White;
     
      background-color: #5A697E;
      padding: 50px 30px;
      display: grid;
      grid-template-columns: 25% 25%;
      grid-template-rows: 350px;
      grid-template-areas:
      "content img"
  }
  
  .content {
    grid-area: content;
  }
  .content img {
    grid-area: img;
    max-height: 200px;
    margin: 15px;
    display: block;
  }
  .img button{
    background-color: white;
    color:#5A697E;
  }

  .display-4{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 40px;
  }
  .cardpics{
    margin: auto;
    height: 120px;
  }
 
.media {margin:100px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 100px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 100px;}

.media img{
  max-height: 400px;
}
.mr-3{
  max-height: 600px;
}
.media-body{
 display: flex;
 flex:center;

}
H2 {
  font-size: 40px;
  font-weight: 30;
  margin: 5px 25%;
}
.testing{
  max-height: 100px;
}
